<img src = "/assets/img/burger.jpg" alt = "burger" width = 300>
<h1>Eat-Da-Burger!</h1>
<h2>You wanna devour a burger?</h2>
<ol class = "ol">
  {{#each burgers}}
  {{#unless devoured}}
  {{>burgers/burger-block devoured = false}}
  {{/unless}}
  {{/each}}
</ol>

<h2>Burgers you've already devoured!</h2>
<ol class = "ol">
{{#each burgers}}
{{#if devoured}}
  {{>burgers/burger-block devoured = true}}
{{/if}}
{{/each}}
</ol>

<textarea rows="5" cols="30" id ="addBurger"></textarea>
<br>
<button type="submit" class = "submit-form">Submit</button>
<p><i class="fas fa-lightbulb"></i>  Enter a burger you want to eat and click the "submit" button.</p>